#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  display: flex;
  height: 110px;
  justify-content: space-between;
  padding-top: 15px;
  /* Use flexbox */
}

.componentWrapper {
  flex: 1;
  padding: 10px;
  /* Make each component take equal space */
}